<%- include header %>
<ul>
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <% if(lastYear != post.time) { %>
  <% lastYear = post.time } %>
    <li><time><%= post.time.day %></time></li>
    <li><a href="/post/<%= post._id %>"><%= post.title %></a></li>
<% }) %>
</ul>
<ul>
<% var lastYear = 0 %>
<% images.forEach(function (image, index) { %>
  <% if(lastYear != image.time) { %>
  <% lastYear = image.time } %>
    <li><time><%= image.time.day %></time></li>
    <li><a href="/images/<%= image._id %>"><%= image.title %></a></li>
<% }) %>
</ul>
<%- include footer %>